.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
  width: 50vw;
  height: 90vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--WhiteSmoke);
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.close-modal i {
  font-size: 2em;
  color: var(--Black);
}
.modal-title {
  font-size: 2em;
  font-weight: 600;
  color: var(--Black);
  margin-bottom: 0.4rem;
}
.modal-line {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  height: 0.5rem;
  border-radius: 1rem;
  z-index: 1;
  background-color: var(--DarkViolet);
}
.modal-description {
  width: 80%;
  text-align: center;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.input-container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: var(--Black);
  color: var(--WhiteSmoke);
}
.input-container input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0.8rem;
}
.input-container i {
  font-size: 1.5em;
}
.modal-card-container {
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.modal-card {
  width: 18rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.2s;
}
.modal-card:hover {
  border: 0.1rem solid var(--DarkViolet);
  transition: all 0.2s;
}
.modal-card:hover .modal-card-image img {
  transform: scale(1.06) rotate(2deg);
  transition: all 0.3s;
}
.modal-card-image {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  background-color: var(--Black);
}
.modal-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  mask-image: linear-gradient(black 70%, transparent);
}
.modal-card-admin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--WhiteSmoke);
  position: absolute;
  bottom: 0;
  font-size: 1.2em;
  font-weight: 600;
}
.modal-card-title {
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--Black);
}
.modal-card-date {
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
  font-size: 0.9em;
}
.modal-card-container::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--WhiteSmoke);
}
.modal-card-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--LightGray);
}
.all-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.all-not-found img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .modal-container {
    width: 90vw;
  }
}
@media (max-width: 520px) {
  .modal-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .close-modal {
    right: 0.8rem;
    top: 0.5rem;
  }
  .modal-title {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .modal-line {
    margin-top: 0.2rem;
    width: 80%;
    height: 0.5rem;
  }
  .modal-description {
    width: 95%;
    font-size: 0.7em;
  }
  .input-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
  }
  .input-container input {
    height: 2rem;
    font-size: 0.8rem;
  }
  .input-container i {
    font-size: 1.2em;
  }
  .modal-card-container {
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
  }
  .modal-card {
    width: 90%;
    height: 14rem;
    padding: 0.5rem;
  }
  .modal-card-image {
    width: 100%;
    height: 65%;
  }
  .modal-card-admin {
    font-size: 1em;
    font-weight: 500;
  }
  .modal-card-title {
    padding: 0.4rem;
    font-size: 1em;
  }
  .modal-card-date {
    font-size: 0.8em;
  }
  .modal-card-container::-webkit-scrollbar {
    width: 0.2rem;
  }

  .all-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  .all-not-found img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}
